[submodule "opt/dracula"]
	path = colors/opt/dracula
	url = https://github.com/dracula/vim.git
[submodule "opt/gruvbox"]
	path = colors/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "opt/palenight"]
	path = colors/opt/palenight
	url = https://github.com/drewtempelmeyer/palenight.vim.git
[submodule "opt/tender"]
	path = colors/opt/tender
	url = https://github.com/jacoborus/tender.vim.git
[submodule "opt/monokai"]
	path = colors/opt/monokai
	url = https://github.com/crusoexia/vim-monokai.git
[submodule "debug/opt/vim-scriptease"]
	path = debug/opt/vim-scriptease
	url = https://github.com/tpope/vim-scriptease
[submodule "util/start/vim-header"]
	path = util/start/vim-header
	url = https://github.com/alpertuna/vim-header.git
[submodule "util/start/quick-scope"]
	path = util/start/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule "colors/opt/space-vim-dark"]
	path = colors/opt/space-vim-dark
	url = https://github.com/liuchengxu/space-vim-dark.git
[submodule "filetype/start/vim-vue"]
	path = filetype/start/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "filetype/start/typescript-vim"]
	path = filetype/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "filetype/start/vim-markdown"]
	path = filetype/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "filetype/start/vim-cpp-enhanced-highlight"]
	path = filetype/start/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "util/start/vim-fugitive"]
	path = util/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "complete/start/YCM-Generator"]
	path = complete/opt/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator.git
[submodule "complete/start/YouCompleteMe"]
	path = complete/opt/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "util/start/delimitMate"]
	path = util/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "util/start/echodoc.vim"]
	path = util/start/echodoc.vim
	url = https://github.com/Shougo/echodoc.vim.git
[submodule "util/start/LeaderF"]
	path = util/start/LeaderF
	url = https://github.com/Yggdroot/LeaderF.git
[submodule "util/start/nerdcommenter"]
	path = util/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "util/start/nerdtree"]
	path = util/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "util/start/tabular"]
	path = util/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "util/start/undotree"]
	path = util/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "util/start/vim-devicons"]
	path = util/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "util/start/vim-easymotion"]
	path = util/start/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "util/start/vim-grepper"]
	path = util/start/vim-grepper
	url = https://github.com/mhinz/vim-grepper.git
[submodule "util/start/vim-repl"]
	path = util/start/vim-repl
	url = https://github.com/sillybun/vim-repl.git
[submodule "util/start/vim-signature"]
	path = util/start/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "util/start/vim-startify"]
	path = util/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "util/start/vim-surround"]
	path = util/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "util/start/vim-unimpaired"]
	path = util/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
